
DJANGO_SECRET_KEY='your_django_secret_key_here'
DEBUG='your_debug_value_here'
ALLOWED_HOSTS='["your", "allowed", "hosts", "here"]'

POSTGRES_DB='your_db_name_here'
POSTGRES_USER='your_db_user_name_here'
POSTGRES_PASSWORD='your_db_user_password_here'
POSTGRES_HOST='db'
POSTGRES_PORT='5432'

REDIS_PASSWORD='your_redis_password_here'

FLOWER_USER='your_flower_user_name_here'
FLOWER_PASSWORD='your_flower_user_password_here'

GRAFANA_ADMIN_USER='your_grafana_admin_user_name_here'
GRAFANA_ADMIN_PASSWORD='your_grafana_admin_user_password_here'

SMTP_GMAIL_USER='your_gmail_address_here'
SMTP_GMAIL_PASSWORD='your_gmail_app_password_here'

LLM_API_KEY='your_llm_api_key_here'
